extends layout

block content
    h1= title
    h2= subtitle

    form(id='countrySelectForm' action='/governmentform' method='post')
        div
            select(name='ctry')
                each governmentform in governmentforms
                    option #{governmentform.name}
        p
            input(type='submit' value='Go')	