extends layout

block content
    h1= title
    h2= governmentforms[0].name
    table
        each governmentform in governmentforms
            tr
                td.col_l Name
                td #{governmentform.name}