doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/country") Select Country
                    li
                        a(href="/countryData") Register Country
                    li
                        a(href="/governmentform") Select Governmentform
                    li
                        a(href="/test") test
        main                
            block content