extends layout

block content
	h1= title
	if tf
			p= tf
	else
		form(id='reguser' action='/users/login' method='post')
			table
				tr
					td UserId
					td
						input(type='text' name='uid' required)
					td Password
					td
						input(type='text' name='password' required)
					td
						input(type='submit' value='Go')