extends layout

block content
	h1= title
	p Please register
	form(id='reguser' action='/users/reguser' method='post')
		table
			tr
				td UserId
				td
					input(type='text' name='uid' required)
			tr
				td Password
				td
					input(type='text' name='password' required)
			tr
				td
				td
					input(type='submit' value='Go')