extends layout

block content
    h1= title
    h2 test hashes demo
    form(id='enterPassword' action='/testhash' method='post')
        table
            tr
                td.col_l Password
                td
                    input(type='text' name='password' value='test' required)
            tr
                td
                td
                    input(type='submit' value='Go')

    p Entered password:
        span #{pwd}
    if digests
        table
            tr
                th Algorithm
                th Digest Length
                th Digest
            each dig in digests
                tr
                    td #{dig.algo}
                    td #{dig.length}
                    td.mono #{dig.digest}