body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000066;
}

header nav ul {
    list-style: none;
    width: 40%;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    border: 3px outset gray;
    display: inline;
	  padding: .1em;
}
header nav ul li a {
	text-decoration: none;
}
p span, .mono {
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 600;
}

.disp, .disp th, .disp td {
	border: 1px solid black;
}
.disp th, .disp td {
	padding: .1em;
}